In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames

In [2]:
basic_info = "Resources/basic_info.csv"
basic_info_df = pd.read_csv(basic_info)
basic_info_df.head()

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Contract,Value,Wage,Total stat
0,0,236988,Eddie Nketiah,22,England,72,79,Arsenal,2016 ~ 2022,€4.8M,€45K,1698
1,1,225863,Olivier Boscagli,23,France,77,82,PSV,2019 ~ 2025,€14.5M,€15K,1961
2,2,241721,Rafael da Conceição Leão,22,Portugal,82,90,AC Milan,2019 ~ 2024,€68.5M,€52K,1959
3,3,224371,Jarrod Bowen,24,England,79,82,West Ham United,2020 ~ 2025,€24M,€63K,1966
4,4,200104,Heung Min Son,28,Korea Republic,89,89,Tottenham Hotspur,2015 ~ 2025,€104M,€240K,2141

In [3]:
detailed_info = "Resources/detailed_info.csv"
detailed_info_df = pd.read_csv(detailed_info)
detailed_info_df.head()

,Unnamed: 0,ID,LS,ST,RS,LW,LF,CF,RF,RW,...,Composure,Defensive Awareness,Standing Tackle,Sliding Tackle,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Traits
0,0,236988,74,74,74,70,72,72,72,70,...,68.0,22.0,19,15,12,10,11,9,5,Chip Shot (AI)
1,1,225863,66,66,66,69,68,68,68,69,...,77.0,76.0,78,77,8,7,14,8,12,"Dives Into Tackles (AI), Long Passer (AI)"
2,2,241721,82,82,82,82,82,82,82,82,...,81.0,22.0,24,21,10,12,15,11,9,"Finesse Shot, Flair, Speed Dribbler (AI), Tech..."
3,3,224371,77,77,77,78,78,78,78,78,...,75.0,49.0,40,36,14,8,14,10,7,"Long Shot Taker (AI), Technical Dribbler (AI)"
4,4,200104,88,88,88,87,87,87,87,87,...,89.0,47.0,34,33,11,13,13,6,10,"Solid Player, Finesse Shot, Long Shot Taker (A..."

## Clean DataFrame