In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames

In [2]:
basic_info_csv_file = "Resources/basic_info.csv"
basic_player_data_df = pd.read_csv(basic_info_csv_file)
basic_player_data_df.head()

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Contract,Value,Wage,Total stat
0,0,236988,Eddie Nketiah,22,England,72,79,Arsenal,2016 ~ 2022,€4.8M,€45K,1698
1,1,225863,Olivier Boscagli,23,France,77,82,PSV,2019 ~ 2025,€14.5M,€15K,1961
2,2,241721,Rafael da Conceição Leão,22,Portugal,82,90,AC Milan,2019 ~ 2024,€68.5M,€52K,1959
3,3,224371,Jarrod Bowen,24,England,79,82,West Ham United,2020 ~ 2025,€24M,€63K,1966
4,4,200104,Heung Min Son,28,Korea Republic,89,89,Tottenham Hotspur,2015 ~ 2025,€104M,€240K,2141

In [3]:
detailed_info_csv_file = "Resources/detailed_info.csv"
detailed_player_data_df = pd.read_csv(detailed_info_csv_file)
detailed_player_data_df.head()

,Unnamed: 0,ID,LS,ST,RS,LW,LF,CF,RF,RW,...,Composure,Defensive Awareness,Standing Tackle,Sliding Tackle,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Traits
0,0,236988,74,74,74,70,72,72,72,70,...,68.0,22.0,19,15,12,10,11,9,5,Chip Shot (AI)
1,1,225863,66,66,66,69,68,68,68,69,...,77.0,76.0,78,77,8,7,14,8,12,"Dives Into Tackles (AI), Long Passer (AI)"
2,2,241721,82,82,82,82,82,82,82,82,...,81.0,22.0,24,21,10,12,15,11,9,"Finesse Shot, Flair, Speed Dribbler (AI), Tech..."
3,3,224371,77,77,77,78,78,78,78,78,...,75.0,49.0,40,36,14,8,14,10,7,"Long Shot Taker (AI), Technical Dribbler (AI)"
4,4,200104,88,88,88,87,87,87,87,87,...,89.0,47.0,34,33,11,13,13,6,10,"Solid Player, Finesse Shot, Long Shot Taker (A..."

## Clean DataFrame

In [4]:
new_basic_player_data_df = basic_player_data_df[['ID', 'Name', 'Age', 'Overall', 'Club', 'Value']].copy()
new_basic_player_data_df.head()
fixed_basic_player_data_df=new_basic_player_data_df.dropna()
fixed_basic_player_data_df

,ID,Name,Age,Overall,Club,Value
0,236988,Eddie Nketiah,22,72,Arsenal,€4.8M
1,225863,Olivier Boscagli,23,77,PSV,€14.5M
2,241721,Rafael da Conceição Leão,22,82,AC Milan,€68.5M
3,224371,Jarrod Bowen,24,79,West Ham United,€24M
4,200104,Heung Min Son,28,89,Tottenham Hotspur,€104M
...,...,...,...,...,...,...
19820,245534,Carl Spellman,18,52,Tranmere Rovers,€80K
19821,245535,Abdulkadir Parmak,26,71,Yukatel Kayserispor,€2.2M
19822,245536,Andrea Errico,19,57,Frosinone,€200K
19823,245540,Stratos Svarnas,23,69,AEK Athens,€1.9M
19824,259356,Carney Chukwuemeka,17,64,Aston Villa,€1.8M

In [5]:
new_detailed_player_data_df = detailed_player_data_df[['ID', 'FK Accuracy', 'Ball Control', 'Shot Power', 'Preferred foot', 'Stamina', 'DOB']].copy()
fixed_detailed_player_data_df=new_detailed_player_data_df.dropna()
fixed_detailed_player_data_df

,ID,FK Accuracy,Ball Control,Shot Power,Preferred foot,Stamina,DOB
0,236988,38.0,73.0,72,Right,66,30-May-99
1,225863,56.0,77.0,73,Left,76,18-Nov-97
2,241721,60.0,85.0,80,Right,75,10-Jun-99
3,224371,70.0,79.0,72,Left,80,20-Dec-96
4,200104,74.0,84.0,88,Right,88,8-Jul-92
...,...,...,...,...,...,...,...
14700,245528,45.0,62.0,69,Right,65,19-Dec-94
14701,245531,44.0,61.0,60,Left,69,25-Sep-00
14702,245535,70.0,74.0,81,Right,74,28-Dec-94
14703,245540,29.0,48.0,60,Right,75,11-Nov-97
14704,259356,46.0,68.0,56,Right,48,20-Oct-03

## Create database connection

In [6]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'FIFA_players'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

## Check for tables

In [8]:
engine.table_names()

C:\Users\Neel\AppData\Local\Temp/ipykernel_15036/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Basic_info', 'Detailed_info']

## Load DataFrames into database

In [9]:
fixed_basic_player_data_df.to_sql(name='Basic_info', con=engine, if_exists='append', index=False)

In [10]:
fixed_detailed_player_data_df.to_sql(name='Detailed_info', con=engine, if_exists='append', index=False)